.slide {
  display: none; 
}

.slide.active {
  display: block;  
}


.button {
  height: auto; 
  width: auto;
  padding: 4px;
  border: 0;
  margin-right: 4px;
  font-family: inherit;
  background: #061420;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}