.main {
 margin-top: 5rem;
 
}

.card {
    max-width: 50rem;
    margin: 0 auto;
    display: block;
    background:white;
    border-radius: 0.25rem;
    padding: 1rem 2rem 1rem;
    box-shadow: 0px 2px 4px rgba(2, 23, 31, 0.1);
}

.response {
    line-height: 1.4rem;
    background: #f3f3f3;
    color: #000;
    border: 1px solid #ccc;
    border-top: 2px solid #e2e2e2;
    padding: 1rem;
    margin-top: 10px;
}

.submitButton {
    height: 3rem; 
    padding: 1rem;
    border: 0;
    font-family: inherit;
    background: #061420;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
.submitButton[disabled] {
    opacity: 0.25;
    color: gray;
  }

.tag {
    background-color: #000;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}